<template>

  <div id=${modalid} class="modal">
    <div class="modal-content">
      <h4>Create new game</h4>
      <p>Please, fill the required information</p>

      <div class="row">
        <form class="col s12">
          <div class="row">

            <div class="input-field col s12 m12 l6">
              <md-input md-label="Player name" md-value.bind="playerName"></md-input>
            </div>

            <div class="input-field col s12 m12 l6">
              <md-input md-label="Nº Players" md-value.bind="players"></md-input>
            </div>

            <div class="input-field col s12 m12 l6">

              <select md-select="label: Level" value.two-way="attempts"  change.delegate="activateAttemptsInput(attempts)">
                <option value="" disabled selected>Choose level</option>
                <option  repeat.for="option of levels" value=${option.attempts}>${option.name}</option>
              </select>

            </div>

            <div class="input-field col s12 m12 l6">
              <md-input md-label="Nº Attempts" md-value.bind="attempts" md-disabled.bind="blockAttemptsEditable"></md-input>
            </div>

          </div>

        </form>
      </div>

    </div>
    <div class="modal-footer">
      <button md-button  class="modal-action modal-close waves-effect waves-green btn-flat" click.delegate="createGame()">Play!</button>
    </div>
  </div>

</template>
