<template>
  <require from="./game-view.scss"></require>
  <require from="../../components/game-board/game-board"></require>
  <require from="../../resources/value-converters/date-format"></require>
  <div class="row">

    <md-card md-title=${player.playerName} class="col l3 s12">
      <div class="player-info">
        <h6>Turns</h6>
        <label>${player.attempts}</label>
        <md-progress md-value.bind="player.attempts"></md-progress>
        <h6>Hits</h6>
        <label class="hit">${player.hits}</label>
        <h6>Failures</h6>
        <label class="failure">${player.failures}</label>
        <h6>Start time</h6>
        <label>${player.startTime  | dateFormat}</label>

        <h6 if.bind="showSolution">Emd time</h6>
        <label if.bind="showSolution">${player.endTime | dateFormat}</label>
      </div>
    </md-card>

    <md-card md-title="Battleground" class="col l5 m12 s12">
      <game-board battleground.bind="battleground" attempt-failed-action.call="failedClick()"  attempt-success-action.call="successClick()"  type="game" ></game-board>
    </md-card>

    <md-card if.bind="showSolution" md-title="Battleground (solution)" class="col l4 m12 s12">
      <game-board battleground.bind="battlegroundSolution" type="solution" ></game-board>
    </md-card>
  </div>


</template>
