<template>
  <require from="../board-section/board-section"></require>
  <require from="./game-board.scss"></require>

  <div class="battleground">
    <board-section repeat.for="section of battleground" positionx="${section[0]}" positiony=${section[1]} status=${section[2]} boardtype="${type}"
                   trigger-action.call="getSection(section)"></board-section>
  </div>

</template>
