<template>
  <require from="../new-game/new-game-modal"></require>
  <div class="center-align">

    <div class="row">
      <md-card md-title="Select one option">
        <div class="row">
          <button md-button="large: true;" class=" col l6 m12 s12 modal-trigger" href="#newGame"><i class="material-icons left">send</i>New Game</button>
          <button md-button="large: true;disabled: noOldGamesSaved;" class=" col l6 m12 s12"  click.delegate="loadGame()"><i class="material-icons left">flash_on</i>Load Game</button>
        </div>
        <new-game-modal modalid='newGame'></new-game-modal>
      </md-card>
    </div>


  </div>

</template>
