<template>
  <require from="./app-header.scss"></require>
  <nav>
    <div class="nav-wrapper battleship-game-header">
      <div class="container">
        <a href="#" class="brand-logo">Battleship</a>
      </div>
    </div>
  </nav>

</template>
