<template>
  <require from="./components/layout/header/app-header"></require>

  <app-header></app-header>

  <div class="container">
    <router-view swap-order="before"></router-view>
  </div>

</template>
